/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@theme light {
  --color-primary-0: #000000;

}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/Roboto-Bold.woff2') format('woff2');
}

.font-roboto {
  font-family: 'Roboto';
}

.shadow-aaa {
    --tw-shadow-color: rgb(175, 175, 175);
}

